:root {
    --color-background: #ffffff;

    --color-primary: #000000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    font-family: "Courier New", monospace;

    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 8px;
}

header {
    margin-bottom: 64px;
}

footer {
    margin-top: 64px;
}

.url-input {
    width: 100%;
    width: 400px;

    display: flex;
    gap: 8px;
    align-items: flex-end;
}

.url-input__container {
    width: 100%;

    display: flex;
    flex-direction: column;
}

.url-input__label {
    margin-bottom: 4px;
    font-weight: bold;
}

.url-input__field {
    padding: 8px;
    border: 1px solid var(--color-primary);
    outline: none;
}

.url-input__button {
    background-color: var(--color-primary);
    color: #ffffff;
    padding: 6px 12px;
    height: 33.6px;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.qr-container {
    height: 300px;
    width: 0px;
    margin-inline: auto;
    opacity: 0;
}

body.ready .qr-container {
    opacity: 1;
    width: 300px;
}

.qr-container > img {
    opacity: 0;
}

.qr-container > img.active {
    opacity: 1;
}

.github-link {
    color: var(--color-primary);
    text-decoration: none;
    position: relative;
}

.github-link:hover {
    text-decoration: underline;
}

.github-link__logo {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -40px;
    display: flex;
    justify-content: center;
    z-index: 0;
}

.github-link__logo img {
    height: 32px;
}

.qr-buttons {
    display: flex;
    gap: 8px;
    justify-content: center;
    position: relative;
}

.qr-button {
    padding: 4px 8px;
    border: 1px solid var(--color-primary);
    background-color: var(--color-background);
    color: var(--color-primary);
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.1s;
}

body.ready .qr-button {
    opacity: 1;
}

body.ready .qr-button:hover {
    background-color: var(--color-primary);
    color: var(--color-background);
}

.message {
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    color: var(--color-primary);
    top: 40px;
    font-size: 14px;
}

@media (max-width: 480px) {
    .page-title {
        font-size: 24px;
    }

    .url-input {
        width: 300px;
    }
}

@media (max-width: 360px) {
    .page-title {
        font-size: 20px;
    }

    .url-input {
        flex-direction: column;
    }

    .url-input__button {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .url-input {
        width: 100%;
    }
}